<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" id="text">
    <button onclick="send()">Send Message</button>
    <button onclick="check()">Check Message</button>

    <script>
        function send() {
            var text = document.getElementById("text").value
            fetch("/message", { method: "POST", headers: { "Content-Type": "application/json" }, body: JSON.stringify({ text }) }).then(function (res) {
                alert("Message sent")
            });
        }

        function check() {
            fetch("/check").then(function (res) {
                return res.json();
            }).then(function (res2) {
                alert(res2.message);
            })
        }
    </script>
</body>

</html>