<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign In</h1>
    <h3>Email:</h3>
    <input type = "email" id = "email">
    <h3>Password:</h3>
    <input type = "password" id = "pass">
    <button onclick = "signin()">Sign In</button>
    <script>
        function signin(){
            let email = document.getElementById("email").value;
            let password = document.getElementById("pass").value;
            fetch("/signin1", {method: "POST", headers:{'Content-Type' : 'application/json'}, body: JSON.stringify({email,password})}).then(function(res){
            return res.json();
        }).then(function(res2){
            console.log(res2);
        })
        }
    </script>
</body>
</html>